.box{
    width: 30%;
    height: 80px;
    background-color: rgb(64, 59, 207);
    border: 2px black solid;
}

.parent{
    width: 90%;
    height: 100px;
    background-color: rgb(13, 13, 92);
    border: 2px black solid;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



