*{
    margin: 0;

}

.card{
    width: 40%;
    height: 300px;

    border: 0.5px solid black;
    margin-left: auto;
    margin-right: auto;
   font-family: Arial, Helvetica, sans-serif;
   padding: 20px;
   border-radius: 10px;
   
}

.card-head{
    display: flex;
}

.card-img img{
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

.card-title{
    flex: 3;

}

.card-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.card-body>p {
    line-height: 30px;
    color: rgb(107, 114, 123);
}
.card-footer{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.fw-bold{
    font-weight: 600;
    color: rgb(107, 114, 123);
}

.gradient{
    width: 100%;
    background-color: blueviolet;
    position: absolute;
    top: 35%;

    
 
    
    

}

